#buttons button{
	width: 30%;
}

#professor label, #course label{
	display: inline-block;
	width: 140px;
	text-align: right;
}

#course select, #professor input, #course input{
	width:195px;    
    -ms-box-sizing:content-box;
    -moz-box-sizing:content-box;
    box-sizing:content-box;
    -webkit-box-sizing:content-box; 
}