<body ng-controller="MainController">
	<h1><center>Advanced Search</center></h1>

<center>

	<!--<div id="professor" class="professor">
		<label for="pName">Professor's Name</label> <input type="text" name="profName" ng-model="advanceSearch.profName"><br> 
			<br>
		<label for="pDept">Department</label> <input type="text" name="profName" ng-model="advanceSearch.dept"><br> 
	</div>-->

</center>

<br>

<center>

	<div id="course" class="course">
		<!--<label for="courseCode">Course Code</label> <input type="text" name="courseCode" placeholder="CPSC" ng-model="advanceSearch.courseCode"><br> 
			<br>
			<label for="courseNum">Course number</label>
				<select name="courseNum" ng-Model="advanceSearch.courseNum">
						<option value="a">a</option>
						<option value="b">b</option>
				</select> <br>
															
			<br>-->
				<label for="dow">Day of offering</label>
					<select name="dow" ng-model="advanceSearch.dow">
																			<option value="Monday">Monday</option>
																			<option value="Tuesday">Tuesday</option>
																			<option value="Wednesday">Wednesday</option>
																			<option value="Thursday">Thursday</option>
																			<option value="Friday">Friday</option>
																			<option value="Saturday">Saturday</option>
																			<option value="Sunday">Sunday</option>
														</select> <br>
			<p>(Day of the week the course is offered)</p>
		
			<br>
		
			<label for="tod">Time of Day</label>		<select name="tod" ng-model="advanceSearch.tod">
																			<option value="morning">Morning (6am-12pm)</option>
																			<option value="afternoon">Afternoon (12:01pm-5pm)</option>
																			<option value="evening">Evening (5:01pm-8pm)</option>
																			<option value="a_evening">Night (8:01pm-5:59am)</option>
														</select> <br>
			<p>(Time of day course begins at)</p>

	</div>

</center>

<br>

<div id="buttons" class="buttons">

	<center><button type="button" class="btn btn-primary" ng-click="search()">Search</button></center>
	
</div>

</body>
