<div ng-if="course && !loading"> 
    <p>
        <h3><a title="View course on SSC" ng-href="https://courses.students.ubc.ca/cs/main?pname=subjarea&tname=subjareas&req=3&dept={{course.subject}}&course={{course.courseNumber}}" target="_blank">{{course.subject}} {{course.courseNumber}}</a> with Professor {{course.FirstName}} {{course.LastName}}</h3> 
    </p>
    <p>
        <rating value="course.rating" max="5"></rating> 
        Course Rating: {{course.rating}} <br> 
        Past Class Average: {{course.averageGrade}}%
    </p>

    <c3chart bindto-id="donut-plot1-chart">
    <chart-column column-id="0 to 9%"
    column-values={{chartData1}}
    column-type="donut"/>
    <chart-column column-id="10 to 19%"
    column-values={{chartData2}}
    column-type="donut"/>
    <chart-column column-id="20 to 29%"
    column-values={{chartData3}}
    column-type="donut"/>
    <chart-column column-id="30 to 39%"
    column-values={{chartData4}}
    column-type="donut"/>
    <chart-column column-id="40 to 49%"
    column-values={{chartData5}}
    column-type="donut"/>
    <chart-column column-id="50 to 54%"
    column-values={{chartData6}}
    column-type="donut"/>
    <chart-column column-id="55 to 59%"
    column-values={{chartData7}}
    column-type="donut"/>
    <chart-column column-id="60 to 63%"
    column-values={{chartData8}}
    column-type="donut"/>
    <chart-column column-id="64 to 67%"
    column-values={{chartData9}}
    column-type="donut"/>
    <chart-column column-id="68 to 71%"
    column-values={{chartData10}}
    column-type="donut"/>
    <chart-column column-id="72 to 75%"
    column-values={{chartData11}}
    column-type="donut"/>
    <chart-column column-id="76 to 79%"
    column-values={{chartData12}}
    column-type="donut"/>
    <chart-column column-id="80 to 84%"
    column-values={{chartData13}}
    column-type="donut"/>
    <chart-column column-id="85 to 89%"
    column-values={{chartData14}}
    column-type="donut"/>
    <chart-column column-id="90 to 100%"
    column-values={{chartData15}}
    column-type="donut"/>
    <chart-column column-id="90 to 100%"
    column-values={{chartData15}}
    column-type="donut"/>
    <chart-donut title="Grade Distribution" width="60"/>
    </c3chart>
    <a title="Back to main page" href="#/">Back</a> 
</div>
<div ng-if="loading">
    <center>Loading...</center>
</div>
