<!--<center>
    <button class="btn btn-primary" ng-click="openAdvanceSearch()">Advance Search</button>
    <button class="btn btn-danger" title="Clear search filters" ng-click="clearFilters()">
        <span class="glyphicon glyphicon-trash"></span>
    </button>
</center>-->
<div style="height:550px; overflow:auto;">
    <table st-table="displayedCollection" st-safe-src="courses" class="table table-striped">
        <thead>
            <tr>    
                <th colspan="4"><input st-search="" placeholder="Search by keyword..." class="input-sm form-control" type="text"/></th>
            </tr>
            <tr>
                <th style="cursor:pointer;" title="Sort by course rating" st-sort-default="reverse" st-sort="rating">Course Rating</th>
                <th style="cursor:pointer;" title="Sort by course subject" st-sort="subject">Course Subject</th>
                <th style="cursor:pointer;" title="Sort by course number" st-sort="courseNumber">Course Number</th>
                <th style="cursor:pointer;" title="Sort by professor" st-sort="lastName">Professor Last Name</th>
            </tr>
        </thead>
        <tbody>
            <tr class="table-row" ng-repeat="course in displayedCollection" title="View {{course.subject}} {{course.courseNumber}} with {{course.LastName}} Details" ng-click="showDetails(course)">
                <td>{{course.rating}}</td>
                <td>{{course.subject}}</td>
                <td>{{course.courseNumber}}</td>
                <td>{{course.LastName}}</td>
            </tr>
            <tr ng-if="displayedCollection.length <= 0 && courses.length > 0 && !loading">
                <th colspan="4"><center><i>Search found no results. Please clear search terms and try again.</i></center></th>
            </tr>
            <tr ng-if="(!courses || !courses.length || courses.length <= 0) && !loading">
                <th colspan="4"><center><i>No data is available</i></center></th>
            </tr>
            <tr ng-if="loading">
                <th colspan="4"><center><i>Loading...</i></center></th>
            </tr>
        </tbody>
    </table>
</div>



    
