<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/header.ejs %>
</head>
<body>
    <% include ../partials/nav.ejs %>

<div class="container-fluid">
    <div class="row">
        <button type="button" class="btn btn-default navbar-btn">Help</button>
    </div>
    <div class="row">
        <h1>Quick Question?</h1>
    </div>
</div>

</body>
</html>